:host {
  width: 2.5rem;
  height: 2.5rem;

  &.sm {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.selected {
    transform: scale(1.25);
    z-index: 10;
  }

  &.disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
}
