:host {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  &.sm {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.selected {
    transform: scale(1.25);
    box-shadow:
      0 0 0 2px white,
      0 0 0 4px #1a73e8,
      0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}
