@if (vehicle(); as v) {
  <div class="flex flex-col gap-3 min-w-56 max-w-72">
    <img [src]="v.foto" [alt]="v.make + ' ' + v.model" class="w-full object-cover" />
    <div class="px-4 pb-4 flex flex-col gap-1">
      <h3 class="text-base font-semibold">{{ v.year }} {{ v.make }} {{ v.model }}</h3>
      @if (address() === undefined) {
        <p class="text-sm text-gray-400">Loading address...</p>
      } @else if (address()) {
        <p class="text-sm text-gray-500">{{ address() }}</p>
      }
    </div>
  </div>
}
